* {
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    color: black;
    margin-top: 2rem;
    
}

.btn-header {
  margin-right: 1rem;
  
}
.image{
    width: 20%;
}

.div-1{
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
}

.div-1a{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-right: 10rem;
}

.div-1b{
    display: flex;
    flex-basis: 50%;
    width: 50%;
    margin-top: 1rem;
    width: 10px
}

.btn-regis{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-right: 5rem;
}
p {
    color: rgb(83, 81, 81);
}
